* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.app {
  padding: 0 50px;
  width: 1110px;
  height: 1570px;
  overflow: hidden;
  position: relative;
  border: 1px solid;
}

.bg {
  background: url("assets/frame-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.2;
}

.header {
  text-align: center;
  padding: 30px;
}
.header img {
  width: 120px;
}
.header h3 {
  font-size: 22px;
  color: #0d0c84;
}

.content {
  letter-spacing: 0.5px;
  position: relative;
}

.photo {
  position: absolute;
  right: 0;
  width: 200px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content section {
  margin: 50px 0;
}

.section-title {
  font-weight: 600;
  font-size: 30px;
  padding-bottom: 15px;
  color: goldenrod;
  text-transform: uppercase;
  position: relative;
}
.section-title::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 5px;
  background: goldenrod;
  bottom: 0;
  left: 0;
}

.detail-wrap {
  display: flex;
  font-size: 25px;
  margin: 20px 0;
}
.detail-title {
  width: 270px;
  min-width: 270px;
  font-weight: 500;
}
.detail-val {
  position: relative;
  padding-left: 50px;
}
.detail-val::before {
  content: ":";
  position: absolute;
  left: 0;
  top: 0;
}

/**********************************
* Image Gallery
**********************************/

.img-container {
  width: 1110px;
  height: 1570px;
  background: #f1f5f9;
}
.img-gallery {
  height: calc(100% - 20px);
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.img-gallery img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.img-gallery .img-wrap {
  box-shadow: 0 20px 25px -5px rgb(0, 106, 194, 0.2),
    0 8px 10px -6px rgb(0, 106, 194, 0.2);
}

.left {
  margin-top: 15px;
  width: 40%;
}
.left .img-wrap {
  height: 500px;
}
.left .img-wrap:first-child {
  margin-bottom: 15px;
}
.right {
  margin-top: 15px;
  width: calc(60% - 15px);
  margin-left: 15px;
}
.right .img-wrap {
  height: 1015px;
}
.bottom {
  margin-top: 15px;
  width: 100%;
}
.bottom .img-wrap {
  height: 1000px;
}
